/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/src/lib/scss/main.scss";
@font-face {
  font-family: "Inter";
  src: url("./app/shared/styles/src/lib/fonts/Inter/static/Inter-Regular.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body,
html {
  height: 100%;
  font-size: 10px;
}

section {
  padding: 1.7rem 0;
}
img{
  width:100%;
  max-width: 100%;
}
